body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.app-logo {
  padding-left: 50px;
  text-decoration: none;
  color: white;
}

.app-logo:hover {
  padding-left: 50px;
  text-decoration: none;
  color: orange;
}

.login {
  width: 400px;
  margin: auto;
  margin-top: 150px;
  padding: 20px;
}

.signup {
  width: 400px;
  margin: auto;
  margin-top: 125px;
  padding: 20px;
}

.nav-options {
  text-decoration: none;
  color: white;
}

.nav-options:hover {
  text-decoration: none;
  color: orange;
}

.trans-table {
  padding: 50px;
}

.fri-table {
  padding: 50px;
}